@model IEnumerable<NFLMVC.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Games</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="row">
    <div class="col-md-2">
        <p class="text-right">1st</p>
    </div>
    <div class="col-md-1">
        <p class="text-right">2nd</p>
    </div>
    <div class="col-md-1">
        <p class="text-right">3rd</p>
    </div>
    <div class="col-md-1">
        <p class="text-right">4th</p>
    </div>
    <div class="col-md-1">
        <p class="text-right">OT</p>
    </div>
    <div class="col-md-1">
        <p class="text-right">Final</p>
    </div>
</div>

@foreach (var item in Model)
{
    @*<div class="row">
        <div class="col-md-12">
            @Html.DisplayFor(modelItem => item.DateTime)
        </div>
    </div>*@

        
    <div class="row">
        
        <div class="col-md-1">
            <p class="text-left">@Html.DisplayFor(modelItem => item.AwayTeam)</p>
        </div>
        <div class="col-md-1">
            <p class="text-right">@Html.DisplayFor(modelItem => item.ATScoreFirstQtr)</p>
        </div>
        <div class="col-md-1">
            <p class="text-right">@Html.DisplayFor(modelItem => item.ATScoreSecondQtr)</p>
        </div>
        <div class="col-md-1">
            <p class="text-right">@Html.DisplayFor(modelItem => item.ATScoreThirdQtr)</p>
        </div>
        <div class="col-md-1">
            <p class="text-right">@Html.DisplayFor(modelItem => item.ATScoreFourthQtr)</p>
        </div>
        <div class="col-md-1">
            <p class="text-right">@Html.DisplayFor(modelItem => item.ATScoreOT)</p>
        </div>
        <div class="col-md-1">
            <p class="text-right">@Html.DisplayFor(modelItem => item.ATScoreFinal)</p>
        </div>
        <div class="col-md-1">
        </div>        
        <div class="col-md-1">
            <p class="text-left">@Html.ActionLink("Edit", "Edit", new { gameId = item.GameId })</p>
        </div>
        <div class="col-md-1">
            <p class="text-left">@Html.ActionLink("Delete", "Delete", new { gameId = item.GameId })</p>
        </div>  
    </div>

    <div class="row bg-primary">
        <div class="col-md-1">
            <p class="text-left">@Html.DisplayFor(modelItem => item.HomeTeam)</p>
        </div>
        <div class="col-md-1">
            <p class="text-right">@Html.DisplayFor(modelItem => item.HTScoreFirstQtr)</p>
        </div>
        <div class="col-md-1">
            <p class="text-right">@Html.DisplayFor(modelItem => item.HTScoreSecondQtr)</p>
        </div>
        <div class="col-md-1">
            <p class="text-right">@Html.DisplayFor(modelItem => item.HTScoreThirdQtr)</p>
        </div>
        <div class="col-md-1">
            <p class="text-right">@Html.DisplayFor(modelItem => item.HTScoreFourthQtr)</p>
        </div>
        <div class="col-md-1">
            <p class="text-right">@Html.DisplayFor(modelItem => item.HTScoreOT)</p>
        </div>
        <div class="col-md-1">
            <p class="text-right">@Html.DisplayFor(modelItem => item.HTScoreFinal)</p>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
            <p class="text-left">@Html.ActionLink("Details", "Details", new { gameId = item.GameId })</p>
        </div>
    </div>
}
