@model IEnumerable<NFLMVC.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeasonType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Week)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HTScoreFirstQtr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HTScoreSecondQtr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HTScoreThirdQtr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HTScoreFourthQtr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HTScoreOT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HTScoreFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATScoreFirstQtr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATScoreSecondQtr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATScoreThirdQtr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATScoreFourthQtr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATScoreOT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATScoreFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NeutralField)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeasonType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Week)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HTScoreFirstQtr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HTScoreSecondQtr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HTScoreThirdQtr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HTScoreFourthQtr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HTScoreOT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HTScoreFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATScoreFirstQtr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATScoreSecondQtr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATScoreThirdQtr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATScoreFourthQtr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATScoreOT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATScoreFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NeutralField)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
